@import '../../app.component.scss';

* {
    box-sizing: border-box;
  }


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Catamaran', sans-serif;
    background-color: $black-90;
    color: $white-100;
    width: 100%;
    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__things {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 650px;
        padding: 20px;
        @include desktop {
            width: 300px;
            height: 650px;
        }

        &__img {
            width: 100%;
            filter: grayscale(100%);
        }

        &__info {
            justify-content: center;
            text-align: center;
        }
    }
}


