<section class="container">
    <div class="container__things" *ngFor="let lessons of lessons">
            <img class="container__things__img zoom" src="{{lessons.image}}">
            <h2 class="container__things__info">{{lessons.training}}</h2>
            <h3 class="container__things__info">{{lessons.room}}</h3>
            <p class="container__things__info">Level: {{lessons.level}}</p>

    </div>
</section>

