<div class="container-rrss">
    <a href="https://www.linkedin.com/">
        <img class="container-rrss__logo" src="{{linkedin}}">
    </a>
    <a href="https://twitter.com/">
        <img class="container-rrss__logo" src="{{twitter}}">
    </a>
    <a href="https://www.instagram.com/">
        <img class="container-rrss__logo" src="{{instagram}}">
    </a>
    <a href="https://www.facebook.com/">
        <img class="container-rrss__logo" src="{{facebook}}">
    </a>

</div>