
@import '../../app.component.scss';

.container-rrss {
    padding-left: 30%;
    padding-right: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: $black-90;
    height: 80px;
    &__logo{
        width: 50px;
        margin: 10px;
        @include tablet {
            margin: 20px;
        }
        @include desktop {
            margin: 40px;
        }
    }
}