@import '../../app.component.scss';


.header {
    font-family: 'Catamaran', sans-serif;
    display: flex;
    flex-direction: row;
    background-color: $black-80;
    width: 100%;
    height: 90px;

    @include desktop {
        height: 140px;
    }

    &__title {
        color: $orange-60;
        filter:drop-shadow(1px 1px 3px #000000);
        @include desktop {
            font-size: 30px;
        }
    }
    &__logo {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &__img::shadow {
            width: 50px;
            filter:drop-shadow(1px 1px 3px #000000);
            @include desktop {
                width: 60px;
            }

        }
    }

    &__links {
        justify-content: center;
        width: 50%;
        display: flex;
        align-items: center;

        &__home, &__about, &__signin, &__profile {
            text-decoration: none;
            color: $white-100;
            margin-right: 12px;
            font-size: 10px;
            &:hover{
                color: $orange-60;
                font-weight: bold
            }
            @include tablet {
                margin-right: 60px;
                font-size: 15px;
            }
            @include desktop {
                font-size: 20px;
                margin-right: 100px;
            }
        }
        }

    }