<header class="header">
    <div class= "header__logo">
        <img class="header__logo__img" src="{{logo}}">
        <h1 class="header__title">Gym</h1>
    </div>
    <div class="header__links">
            <a class="header__links__home" href="https://www.google.com/">{{home}}</a>
            <a class="header__links__about" href="https://www.google.com/">{{about}}</a>
            <a class="header__links__signin" href="https://www.google.com/">{{signin}}</a>
            <a class="header__links__profile" href="https://www.google.com/">{{profile}}</a>
    </div>
</header>
