<h1 class="inforlessons">Information Lessons</h1>

<div class="container">

    <div class=container__info *ngFor="let lessons of lessons">
        <img class="container__logo" src="{{lessons.logo}}">
        <ul class="container__t">{{ lessons.training }}
            <li class="container__p">Information calories {{lessons.aditional?.calories}}</li>
            <li class="container__p">Training Muscles: {{lessons.aditional?.muscles}}</li>
            <li class="container__p">Teacher: {{lessons.aditional?.teacher}}</li>
        </ul>
    </div>

</div>
