@import '../../app.component.scss';

* {
    box-sizing: border-box;
  }

.inforlessons {
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    background-color: $black-80;
    color: $orange-60;
    height: 50px;

}
.container {
    background-color: $black-80;
    color: $white-100;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Catamaran', sans-serif;
        width: 300px;
        height: 200px;

    }


    &__p {
        list-style: none;
    }


    &__logo {
        margin: 20px;
        width: 30px;
        @include tablet {
            width: 50px;
        }
    }
}