
$black-90: #121212;
$black-80: #282828;
$orange-60: #ff7246;
$white-100: #f8f9f9;
$violet-50: #5747AE;


@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');


$layout_bp_tablet: 800px;
$layout_bp_desktop: 1280px;

@mixin tablet {
    @media only screen and (min-width: #{$layout_bp_tablet}) {
        @content;
    }

}

@mixin desktop {
    @media only screen and (min-width: #{$layout_bp_desktop}) {
        @content;
    }
}